---
- name: Create hub and spoke network with virtual network gateway
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Fail if variables not defined
      ansible.builtin.assert:
        that:
          - region is defined
          - resource_group is defined
          - ansible_ssh_pub_key is defined
        fail_msg: "Required variables not set"

    - name: Create Peer Networking Model
      ansible.builtin.import_role:
        name: transit_peered_networks
      vars:
        transit_peered_networks_operation: create

- name: Configure VM instances created in the DMZ for SSH access to private hosts
  hosts: DMZ
  vars_files:
    - vars/create_transit_network.yml
  tasks:
    - name: Configure SSH when the playbook has the proper variables
      when:
        - ansible_ssh_user is defined
        - ansible_ssh_private_key_file_local_path is defined
        - ansible_ssh_private_key_file_dest_path is defined
        - priv_network_hosts_pattern is defined
        - priv_network_ssh_user is defined
      block:
        - name: Create SSH config file
          ansible.builtin.lineinfile:
            path: ~/.ssh/config
            line: |
              host {{ priv_network_hosts_pattern }}
                User {{ priv_network_ssh_user }}
                IdentityFile {{ ansible_ssh_private_key_file_dest_path }}
            create: true
            mode: "0655"

        - name: Secure SSH config file
          ansible.builtin.file:
            path: ~/.ssh/config
            mode: "0600"

        - name: Add SSH private key to DMZ service so that it can access private network servers
          ansible.builtin.copy:
            src: "{{ ansible_ssh_private_key_file_local_path }}"
            dest: "{{ ansible_ssh_private_key_file_dest_path }}"
            owner: "{{ ansible_ssh_user }}"
            group: "{{ ansible_ssh_user }}"
            mode: "0600"
