---
- name: Install Log Analytics Agent
  hosts: all
  gather_facts: true
  become: true
  tasks:
    - name: Install log analytics agent
      ansible.builtin.import_role:
        name: log_analytics
        tasks_from: install_agent
      vars:
        log_analytics_workspace: "{{ workspace_name }}"
      when: ansible_system == 'Linux'
